body {
    display:flex;
    flex-direction:column;
    padding:0;
    margin:0;
}
.header{
    display:flex;
    justify-content:space-around;
    background-color:#1F2937;
    padding:24px;
    margin:0;
    align-items:center;
}

a {
    text-decoration:none;
    color:white;
    font-size:18px;
    padding: 12px;
    color:#E5E7EB;
}

header {
    font-weight:800;
    font-size:24px;
    color:#F9FAF8
}
.chungus {
    display:flex;
    background-color:#1F2937;
    justify-content:center;
    gap:25px;
    padding:50px 50px 200px 50px;
}

.sliggy h1 {
    color:#F9FAF8;
    font-weight:800px;
    font-size:48px;
}
.sliggy p{
    font-size:18px;
    color:#E5E7EB
}
.info {
    font-size:36px;
    font-weight:800px;
    color:#1F2937;
    text-align:center;

}
.third{
    display:flex;
    justify-content:center;
}
.brothers{
    color:gray;
    font-size:18px;
    display:flex;
}