body {
    display:flex;
    flex-direction:column;
    padding:0;
    margin:0;
    min-height:100vh;
    
}
.header{
    display:flex;
    justify-content:space-around;
    background-color:#1F2937;
    padding:24px;
    margin:0;
    align-items:center;
}

a {
    text-decoration:none;
    color:white;
    font-size:18px;
    padding: 12px;
    color:#E5E7EB;
}

header {
    font-weight:800;
    font-size:24px;
    color:#F9FAF8
}
.chungus {
    display:flex;
    background-color:#1F2937;
    justify-content:center;
    gap:25px;
    padding:50px 50px 150px 50px;
}

.sliggy h1 {
    color:#F9FAF8;
    font-weight:800px;
    font-size:48px;
}
.sliggy p{
    font-size:18px;
    color:#E5E7EB
}
.sliggy button{
    background-color:#3882F6;
    padding: 4px 16px;
    color:white;
    border-radius:12px;
    border:1px solid #3882F6;
}
.info {
    font-size:36px;
    font-weight:800px;
    color:#1F2937;
    text-align:center;

}
.third{
    display:flex;
    justify-content:center;
    padding:100px;
    gap:8px;
}
.brothers{
    color:gray;
    font-size:18px;
    display:flex;
    flex-direction:column;
}
.brothers img {
    border-radius:12px;
    border:2px solid #3882F6;
}
.quote{
    display:flex;
    background-color: #E5E7EB;
    flex-direction:column;
    align-items:center;
    padding:50px;
}
.quote2{
    font-size:36px;
    color:#1F2937;
    font-style:italic;
}
.bongus{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
}
.extra{
    display:flex;
    background-color:#3882F6;
    padding:16px 80px;
    border-radius:12px;
    align-items:center;
}
.bungun button{
    border-radius:12px;
    background-color:#3882F6;
    padding: 8px;
    color:white;
    border: 1px solid white;
}


.money{
    color:white;
}
.bego{
    font-weight:bold;
    font-size:20px;
}








footer{
    margin-top:auto;
    background-color:#1F2937;
    display:flex;
    padding:16px;
    justify-content:center;
    align-items:center;
    color:white;
}
